{% extends "base_second.html" %}

{% block extrahead %}
	<!--This two was missed in base-->
{% endblock %}

{% block content %}

      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
          <div class="loader">
              <div class="line-scale-pulse-out-rapid">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
          </div>
      </div><!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-light pt-8 pb-7 pt-lg-6 pb-lg-5 pt-xl-8 pb-xl-7">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-xl-5">
                      <h1 class="fs-3 fs-sm-4">News</h1>
                      <p class="lead">These modular elements can be readily used and customized in every layout across pages.</p>
                  </div>
              </div>
          </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->
      <section class="py-0">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-10 py-6">
                      <div class="row">
                          <div class="col-lg-3">
                              <nav class="inner-link sticky-top bg-white">
                                  <ul class="nav nav-pills py-3 flex-column">
                                      <li class="nav-item active"><a class="nav-link active" href="#Section-1">Academic</a></li>
                                      <li class="nav-item"><a class="nav-link" href="#Section-2">Member</a></li>
                                      <li class="nav-item"><a class="nav-link" href="#Section-3">Others</a></li>
                                      <li class="nav-item"><a class="nav-link" href="./oldnews.html">OldNews</a></li>
                                  </ul>
                              </nav>
                          </div>

                          <div class="col">


                              <div id="Section-1">
                                  <h4 class="mt-8 mb-4">Academic</h4>
<!--                                  复制下面的内容，在第一个[]中填入日期，第二个[]中填入内容-->
<!--                                  <p><code>[]</code> []</p>                  -->

<!--                     Academic News                                 -->
<!--                ========Start==========                            -->
<!--                =======================                            -->

                                  <p><code>[9.13.2021]</code> [Minxian Wang's paper was accepted by Nature. Minxian Wang's paper was accepted by Nature. Minxian Wang's paper was accepted by Nature. Minxian Wang's paper was accepted by Nature. Minxian Wang's paper was accepted by Nature. Minxian Wang's paper was accepted by Nature.]</p>
                                  <p><img src="../pages/assets/img/blog-2.jpg" width="342"> </p>
                                  <p><code>[8.13.2021]</code> [Minxian Wang's paper was accepted by Nature]</p>

<!--                     Academic News                                 -->
<!--                =========End==========                             -->
<!--                =======================                            -->
                              </div>


                              <div id="Section-2">
                                  <h4 class="mt-8 mb-4">Member</h4>
<!--                                  复制下面的内容，在第一个[]中填入日期，第二个[]中填入内容-->
<!--                                  <p><code>[]</code> []</p>        -->

<!--                     Member News                                   -->
<!--                ========Start==========                            -->
<!--                =======================                            -->

                                  <p><code>[9.13.2021]</code> Wang joined the group as a master student. Wang joined the group as a master student. Wang joined the group as a master student. Wang joined the group as a master student. Wang joined the group as a master student. Wang joined the group as a master student. Wang joined the group as a master student. Wang joined the group as a master student.</p>

<!--                     Member News                                   -->
<!--                =========End==========                             -->
<!--                =======================                            -->
                              </div>


                              <div id="Section-3">
                                  <h4 class="mt-8 mb-4">Others</h4>
<!--                                  复制下面的内容，在第一个[]中填入日期，第二个[]中填入内容-->
<!--                                  <p><code>[]</code> []</p>        -->

<!--                     Other News                                    -->
<!--                ========Start==========                            -->
<!--                =======================                            -->

                                  <p><code>[1.1.2021]</code> The team held a New Year party。</p>
                                  <p><code>[1.1.2021]</code> The team held a New Year party.The team held a New Year party。The team held a New Year party.The team held a New Year party.</p>
                                  <p><code>[1.1.2021]</code> The team held a New Year party。</p>

<!--                     Other News                                    -->
<!--                =========End==========                             -->
<!--                =======================                            -->
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


{% endblock %}
