{% extends "base_second.html" %}

{% block extrahead %}
	<!--This two was missed in base-->
{% endblock %}

{% block content %}

      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div><!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="border-top border-300" id="default-process">
        <div class="container">
          <div class="row justify-content-center text-center mb-6">
            <div class="col-lg-6">
              <h2 class="fs-4 text-underline mb-3">Our Projects</h2>
              <p class="text-500 font-italic">
				We are a group of highly motivated and creative people, discovering and innovating together 
				to make precision medicine a reality through the catalytic power of big genomic data, 
				statistical genetics, and artificial intelligence.
 				
			  </p>
              <hr class="hr-short mt-5 border-300" />
            </div>
          </div>
          <div class="row">
            <div class="col-12 pl-lg-7">
              <div class="row align-items-end">
                <div class="col-lg-6 order-lg-2 text-center pb-sm-2 pb-lg-6"><img class="img-fluid" src="../pages/assets/img/illustration/process-01.svg" alt="" width="400" /></div>
                <div class="col-lg-6 border-lg-left border-lg-bottom border-300 pb-lg-3 mt-4 mt-lg-0 mb-8 mb-lg-0">
                  <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">01</span>
                    <h3>New disease risk gene and novel biomarker discovery</h3>
                    <p>
						
						We have extensive experiences, solid genetic knowledge, and professional data analyzing skills on disease risk gene and novel biomarker discoveries
						<i>
						(Zhang#, <strong>Wang#*</strong> et al. 2018, PNAS;
						<strong>Wang</strong> et al. 2019, J Am Soc Nephrol; 
						Chun*, <strong>Wang*</strong> et al. 2020, KI Reports; 
						Khetarpal*, <strong>Wang*</strong> et al. 2019，N. Engl. J. Med.)
						</i>
						.
						
						We will analyze large-scale biomedical data to profile the associations between genetics and phenotypes, which including but are not limited to the associations from, large-scale genotyping data, sequencing data, in-depth phenotyping data by clinical images, transcriptomics data, proteomics data, biomarkers, and electronic health records data from biobanks, to build a comprehensive “geno-pheo” association map. From this map, we will fine map the causal variants and genes for disease etiology and will use Mendelian randomization to distinguish causations from associations.
						
						
                    </p>
                  </div>
                </div>
              </div>
              <!--
              <div class="row">
                <div class="col-lg-6 border-lg-right border-lg-bottom border-300 text-center py-lg-8"><img class="img-fluid" src="../pages/assets/img/illustration/process-02.svg" alt="" width="400" /></div>
                <div class="col-lg-6 mt-4 mt-lg-0 mb-8 mb-lg-0 my-lg-8">
                  <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">02</span>
                    <h3>design</h3>
                    <p>Once the Blueprint is approved, we create wireframes and a design comp for your review. This process involves various reviews, approvals, and close communication between you and our creative team. We begin with the Homepage to set style, image and branding standards, then move toward interior layouts.</p><a class="btn btn-outline-dark btn-sm mt-3" href="#">View Methods</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 order-lg-2 text-center align-self-center"><img class="img-fluid" src="../pages/assets/img/illustration/process-03.svg" alt="" width="400" /></div>
                <div class="col-lg-6 border-lg-left border-lg-bottom border-300 py-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
                  <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">03</span>
                    <h3>develop</h3>
                    <p>With the blueprint &amp; design comps as our guide, the development team begins to create your website with the state of the earth tools. Our entire team works to add content, final design elements, review, &amp; test your website for quality.</p>
                  </div>
                </div>
              </div>
              -->
              <div class="row overflow-hidden pb-1">
                <div class="col-lg-6 border-lg-right border-300 text-center py-lg-8"><img class="img-fluid" src="../pages/assets/img/illustration/process-04.svg" alt="" width="400" /></div>
                <div class="col-lg-6 align-self-center mt-4 mt-lg-0 mt-lg-8">
                  <div class="process-item process-item-last ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">02</span>
                    <h3>Disease risk prediction</h3>
                    <p>
						Building on our previous works on disease risk prediction
						 
						<i>
						(<strong>Wang</strong> et al. 2020 J Am Coll Cardiol.; 
						Emdin*, Bhatnagar*, <strong>Wang*</strong> et al. 2020, and Dron*, <strong>Wang*</strong> et al. 2021, Circ Genomic Precis Med.; 
						Patel*, <strong>Wang*</strong> et al. 2020, JAMA network open; 
						Fahed*, <strong>Wang*</strong>, homburger*, et al. 2020，Nat. Commun)，
						</i>
						
						we will develop novel statistical genetics and deep-learning based risk prediction models to quantify the risk information jointly from disease risk factors, genetic mutations, biomarkers, latent features derived from raw clinical imaging data, correlations from different diseases and genomic annotations. The models will have the advantages of integrating inherited innate genetic risks and late age responses to developmental and environmental stimuli. As a result, the prediction will be more powerful and precise. Furthermore, taking advantage of the large-scale data from the Chinese people, we will increase model transferability for East Asian populations that are tailored, specific, and precise to the Chinese people.
						
					</p>
				</div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


{% endblock %}
