{% extends "base_second.html" %}

{% block extrahead %}
	<!--This two was missed in base-->
{% endblock %}

{% block content %}

      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div><!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="border-top border-300" id="default-process">
        <div class="container">
          <div class="row justify-content-center text-center mb-6">
            <div class="col-lg-6">
              <h2 class="fs-4 text-underline mb-3">Our Team</h2>
              <p class="text-500 font-italic">
				We are a group of highly motivated and creative people, discovering and innovating together 
				to make precision medicine a reality through the catalytic power of big genomic data, 
				statistical genetics, and artificial intelligence.
 				
			  </p>
              <hr class="hr-short mt-5 border-300" />
            </div>
          </div>
        </div><!-- end of .container-->
        
			  <!-- ============================================-->
			  <!-- <section> begin ============================-->
			  <section class="py-0" id="software-testimonial">
				
				
				<div class="container ">
				  <div class="row justify-content-center pl-lg-7 pr-lg-7">
					<div class="">
					
					  <div class="row align-items-top mb-4 pt-3 bg-light">
						<div class="col-sm-auto text-center">
						  <div class="mx-auto ml-sm-0 mb-4 mb-sm-0"><img class="avatar avatar-egg" style="height:8em;width:8em;" src="/wallace/images/wallace_team1.jpg" alt="" /></div>
						</div>
						<div class="col pl-5">
						  <blockquote class="blockquote" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
							<p class="blockquote-content fs-0">
								
								Wallace (Minxian) Wang is a principal investigator at Beijing Institute of Genomics, Chinese Academy of Sciences, China National Center for Bioinformation. His lab is interested in disease risk variants and genes profiling by genome-wide association studies, genetic risk prediction, precision medicine and making large-scale biomedical data sounds through statistical genetic modeling and artificial intelligence, with the ultimate goal of assisting in guiding precise disease prevention, leading to  healthier lifestyles, and in the discovery of new therapeutic targets.
								
								</p>
							<div class="h6 fs-0 font-weight-black">Minxian Wallace Wang</div>
							<div class="h6 text-500">
								Principal Investigator, Group Leader
							</div>
							<a class="btn btn-link text-danger font-weight-bold p-0 m-0" href="/page-wallace/index.html" target="blank">Read more &xrarr;</a>
						  </blockquote>
						</div>
					  </div>
					  
					  <!--
					  <div class="row align-items-top mb-4 pt-3">
						<div class="col-sm-auto text-center">
						  <div class="mx-auto ml-sm-0 mb-4 mb-sm-0"><img class="avatar avatar-egg" style="height:8em;width:8em;" src="../pages/assets/img/team/11.jpg" alt="" /></div>
						</div>
						<div class="col pl-5">
						  <blockquote class="blockquote" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
							<p class="blockquote-content fs-0">
								Sparrow helped me transform my hobby into a successful online business. 
								Their products enabled me to focus on creating top-notch solutions for my clients.
								
								Sparrow helped me transform my hobby into a successful online business. 
								Their products enabled me to focus on creating top-notch solutions for my clients.
								
								Sparrow helped me transform my hobby into a successful online business. 
								Their products enabled me to focus on creating top-notch solutions for my clients.
								
								</p>
							<div class="h6 fs-0 font-weight-black">Minxian Wallace Wang</div>
							<div class="h6 text-500">Principal Investigator, Group Leader</div>
						  </blockquote>
						</div>
					  </div>
					  
					  <div class="row align-items-top mb-4 pt-3 bg-light">
						<div class="col-sm-auto text-center">
						  <div class="mx-auto ml-sm-0 mb-4 mb-sm-0"><img class="avatar avatar-egg" style="height:8em;width:8em;" src="../pages/assets/img/team/10.jpg" alt="" /></div>
						</div>
						<div class="col pl-5">
						  <blockquote class="blockquote" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
							<p class="blockquote-content fs-0">
								Sparrow helped me transform my hobby into a successful online business. 
								Their products enabled me to focus on creating top-notch solutions for my clients.
								
								Sparrow helped me transform my hobby into a successful online business. 
								Their products enabled me to focus on creating top-notch solutions for my clients.
								
								Sparrow helped me transform my hobby into a successful online business. 
								Their products enabled me to focus on creating top-notch solutions for my clients.
								
								</p>
							<div class="h6 fs-0 font-weight-black">Minxian Wallace Wang</div>
							<div class="h6 text-500">Principal Investigator, Group Leader</div>
						  </blockquote>
						</div>
					  </div>
					  -->
					  
					  
					  
					  
					 
					  
					</div>
				  </div>
				</div><!-- end of .container-->
			  </section><!-- <section> close ============================-->
			  <!-- ============================================-->
			  
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


{% endblock %}
