<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  {%- block htmltitle %}
    <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
  {%- endblock %}

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  {% if (page and page.is_homepage) or self._TemplateReference__context.name == '404.html' %} 
	  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/pages/assets/img/favicons/apple-touch-icon.png'|url }}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/pages/assets/img/favicons/favicon-32x32.png'|url }}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/pages/assets/img/favicons/favicon-16x16.png '|url }}">
	  <link rel="shortcut icon" type="image/x-icon" href="{{ '/pages/assets/img/favicons/favicon.ico'|url }}">
	  <link rel="manifest" href="{{ '/pages/assets/img/favicons/manifest.json'|url }}">
	  <meta name="msapplication-TileImage" content="{{ '/pages/assets/img/favicons/mstile-150x150.png'|url }}">
	  <meta name="theme-color" content="#ffffff">

	  <!-- ===============================================-->
	  <!--    Stylesheets-->
	  <!-- ===============================================-->
	  <link href="{{ '/pages/assets/lib/loaders.css/loaders.min.css'|url }}" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900"
		rel="stylesheet">
	  <link href="{{ '/pages/assets/lib/fancybox/jquery.fancybox.min.css'|url }}" rel="stylesheet">
	  <link href="{{ '/pages/assets/css/theme.css'|url }}" rel="stylesheet">
  {% endif %}
  
  {% if page and not page.is_homepage %} 
	  <link rel="apple-touch-icon" sizes="180x180" href="{{ './pages/assets/img/favicons/apple-touch-icon.png'|url }}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{{ './pages/assets/img/favicons/favicon-32x32.png'|url }}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{{ './pages/assets/img/favicons/favicon-16x16.png '|url }}">
	  <link rel="shortcut icon" type="image/x-icon" href="{{ './pages/assets/img/favicons/favicon.ico'|url }}">
	  <link rel="manifest" href="{{ './pages/assets/img/favicons/manifest.json'|url }}">
	  <meta name="msapplication-TileImage" content="{{ './pages/assets/img/favicons/mstile-150x150.png'|url }}">
	  <meta name="theme-color" content="#ffffff">

	  <!-- ===============================================-->
	  <!--    Stylesheets-->
	  <!-- ===============================================-->
	  <link href="{{ './pages/assets/lib/loaders.css/loaders.min.css'|url }}" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900"
		rel="stylesheet">
	  <link href="{{ './pages/assets/lib/fancybox/jquery.fancybox.min.css'|url }}" rel="stylesheet">
	  <link href="{{ './pages/assets/css/theme.css'|url }}" rel="stylesheet">
  {% endif %}
  
  <style>
    .btn-outline-primary{
      cursor: pointer;
      color: #000;
      border-color: #000;
    }
    .btn-outline-primary:disabled{
      color: #000;
      border-color: #000;
      opacity: .3;
    }
    .btn-outline-primary:not(:disabled):hover{
      background-color: #000;
      border-color: #000;
    }
  </style>
  {%- block extrahead %}
        <!-- define page-specifc extrahead-->
  {%- endblock %}
</head>

<body class="has-sidemenu overflow-hidden-x">

  <!--===============================================-->
  <!--    Fancynav-->
  <!--===============================================-->
  <nav class="fancynavbar"
    data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
    data-zanim-xs='{"from":{"opacity":1,"y":-43},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
    data-zanim-trigger="scroll" data-exclusive="true">
    <div class="fancynavbar-togglerbar bg-black">
		
		<a class="fancynavbar-brand" href="/index.html">
		<img
          class="fancynavbar-brand-img" src="{{ '../wallace/images/imageonline-co-textimage_corben700.png'|url }}" alt="" width="30" height="30"
          data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
          data-zanim-trigger="scroll" />
          
        <!--You can use icon or text logo as well-->
        <!--<span class='fab fa-superpowers fs-3'></span>-->
        <!--<span class='logo-sparrow'>S</span>-->
      </a>
      <div class="fancynavbar-toggler"><svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70"
          xmlns="http://www.w3.org/2000/svg"
          data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}'
          data-zanim-trigger="scroll">
          <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
          <path id="path-middle" d="M20,32h30"></path>
          <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0">
          </path>
        </svg></div>
      <div class="fancynavbar-addon"
        data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
        data-zanim-trigger="scroll">
        <a class="fancynavbar-addon-item" href="https://twitter.com/wallacemwang?s=11"><span class="fab fa-twitter"></span></a>
        {%- block search_button %}
          {%- if 'search' in config['plugins'] %}
              <a href="#" class="nav-link fancynavbar-addon-item" data-toggle="modal" data-target="#mkdocs_search_modal">
                  <i class="fa fa-search"></i>
              </a>
          {%- endif %}
        {%- endblock %}

        <!-- <a class="fancynavbar-addon-item" href="#languageModal"
          data-toggle="modal"><span class="text-sans-serif ls font-weight-black fs--1 d-block">EN</span></a> -->
        </div>
    </div>
    <div class="fancynavbar-collapse">
      <ul class="fancynavbar-nav">
        <!-- <li class="fancynav-item"><a class="fancynav-link" href="page-portfolio.html"><span class="fancynav-link-content">portfolio</span></a></li>
        <li class="fancynav-item"><a class="fancynav-link" href="page-contact.html"><span class="fancynav-link-content">contact</span></a></li> -->
        {% if nav|length>1 %}
          {% for nav_item in nav %}
          {% if nav_item.children %}
          <li class="fancynav-item">{{ nav_item.title }}
            <ul>
              {% for nav_item in nav_item.children %}
              <li class="{% if nav_item.active%}current{% endif %} fancynav-item">
                <a  class="fancynav-link" href="{{ nav_item.url|url }}">
                  <span class="fancynav-link-content">{{ nav_item.title }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="{% if nav_item.active%}current{% endif %} fancynav-item">
            <a class="fancynav-link" href="{{ nav_item.url|url }}">
              <span class="fancynav-link-content">{{ nav_item.title }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </nav>
  <!--===============================================-->
  <!--    End of Fancynav-->
  <!--===============================================-->


  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->

  <main class="main min-vh-100" id="top">
    <!-- <section> begin ============================-->
    {% if page.is_homepage %}
    {% endif %}
   

	{%- block content %}
    
    {%- endblock %}
    

  </main><!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->



  <!--===============================================-->
  <!--    Footer-->
  <!--===============================================-->
  <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}"
    data-zanim-trigger="scroll">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 order-lg-2"><a class="indicator indicator-up" href="#top"
            data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one"
              data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span
              class="indicator-arrow indicator-arrow-two"
              data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
        </div>
        <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
          <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
			  Copyright &copy; 2021 Wang Lab <br />
			  <a href="http://www.big.cas.cn/" target="_blank" class="text-600">@ Beijing Institute of Genomics, CAS.</a>
			  </p>
        </div>
        <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
          <p class="fs--1 text-uppercase ls font-weight-bold mb-0" align="center">Made with<span
              class="text-danger fas fa-heart mx-1"></span>by <a class="text-600"
              href="/team/">Wang lab team</a></p>
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0" align="center">
				<a href="http://beian.miit.gov.cn/" target="_blank" class="text-600">京ICP备2021031744号</a>				
			</p>
        </div>
      </div>
    </div>
  </footer>


  <!--===============================================-->
  <!--    Modal for language selection-->
  <!--===============================================-->
  <!-- Modal-->
  <div class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">
      <div class="modal-content bg-black">
        <div class="modal-body text-center p-0"><button
            class="close text-white position-absolute t-0 r-0 times-icon mt-2 mr-2 p-2" type="button"
            data-dismiss="modal" aria-label="Close"></button>
          <ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">
            <li><a class="text-white font-weight-bold pt-1 d-block" href="home-default.html">English</a></li>
            <li><a class="pt-1 d-block text-500" href="#">Français</a></li>
            <li><a class="text-500 pt-1 d-block" href="page-rtl.html">عربى</a></li>
            <li><a class="pt-1 d-block text-500" href="#">Deutsche</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {%- block scripts %}
    <script>
        var base_url = {{ base_url | tojson }},
            shortcuts = {{ config.theme.shortcuts | tojson }};

        function jump(e) {
          let url = e.target.dataset.url;
          if(!url) return;
          
          location.href = url;
        }
		
		// comments out below two by wavefancy@gmail.com
        //document.getElementById('prev').addEventListener('click',jump);
        //document.getElementById('next').addEventListener('click',jump);
    </script>
    <!--wavefancy@gmail.com-->
    <!--<script src="{{ 'js/base.js'|url }}" defer></script>-->
    {%- for path in config['extra_javascript'] %}
    <script src="{{ path|url }}" defer></script>
    {%- endfor %}
  {%- endblock %}
  {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
  {%- include "keyboard-modal.html" %}

  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
 
	  <script src="{{ '/pages/assets/js/jquery.min.js'|url }}"></script>
	
	  <script src="{{ '/pages/assets/js/bootstrap.js'|url }}"></script>
	  <!--plugin is a must have js file-->
	  <script src="{{ '/pages/assets/js/plugins.min.js'|url }}"></script>
	  
	  <script src="{{ '/pages/assets/lib/loaders.css/loaders.css.js'|url }}"></script>
	  <script src="{{ '/pages/assets/js/stickyfill.min.js'|url }}"></script>
	  <script src="{{ '/pages/assets/lib/is_js/is.min.js'|url }}"></script>
	  <script src="{{ '/pages/assets/lib/jtap/jquery.tap.js'|url }}"></script>
	  <script src="{{ '/pages/assets/js/rellax.min.js'|url }}"></script>
	  <script src="{{ '/pages/assets/lib/fancybox/jquery.fancybox.min.js'|url }}"></script>
	  <script src="{{ '/pages/assets/lib/isotope-layout/isotope.pkgd.min.js'|url }}"></script>
	  <script src="{{ '/pages/assets/lib/isotope-packery/packery-mode.pkgd.min.js'|url }}"></script>
	  <script src="{{ '/pages/assets/js/theme.js'|url }}"></script>
	  <!--wavefancy@gmail.com-->
	  <!--<script src="{{ './js/base.js'|url }}"></script>-->
	  <!--
	  <script src="{{ '/pages/assets/js/popper.min.js'|url }}"></script>
	  <script src="/pages/assets/lib/lightbox2/js/lightbox.min.js"></script>
	  <script src="/pages/assets/js/progressbar.min.js"></script>
	  -->
	  
	  <script src="/pages/assets/lib/owl.carousel/owl.carousel.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
	  <script src="/pages/assets/js/typed.js"></script>
	  
</body>

</html>
